.shopping-cart {
    display: flex;
    flex-direction: column;
    color: #000000;
    font-size: 1rem;
}

.column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.cart-row {
    display: flex;
    justify-content: space-evenly;
}

.cart-item {
    width: 30%;
}

.cart-price {
    width: 15%;
    color: #333;
}

.cart-quantity {
    width: 25%;
}

.item-title {
    color: #333;
    margin-left: .5em;
}

.item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-remove {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-remove:hover {
    background-color: #CC4C4C;
}

.quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .column {
    border: none;
}

.total {
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
}

.total-title {
    font-weight: bold;
    color: black;
    margin-right: 20px;
}

.total-label {
    color: #333;
}

#btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
}

.btn-primary {
    color: white;
    background-color: #2E8B57;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #008000;
}

.btn {
    text-align: center;
    vertical-align: middle;
}

.cart-row {
    --bs-gutter-x: 0;!important;
    margin-left: 25px;
}