@media screen and (max-width: 990px) {
    .card {
        text-align: center;
    }

    .container-detail .btn {
        width: 100%;
    }

}

@media screen and (max-width: 768px) {
    .title h2 {
        line-height: normal;
    }

    .carousel {
        height: 75%;
        width: 75%;
    }

    .product-image {
        width: 75%;
        height: 75%;
    }
}

@media screen and (max-width: 480px) {
    .shopping-cart {
        width: 90%;
    }
}

@media screen and (max-width: 410px) {
    .title {
        width: 65%;
    }
}