body {
    color: #fff;
    font-size: 100%;
}

.header-img {
    height: 90vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#header-home {
    background-image: url('https://cdn.shopify.com/s/files/1/2059/8303/t/23/assets/e07d2c14ad31--MenSection-HeaderLanding-FA21.jpg?v=1629214662');
}

#header-products {
    background-image: url("https://cdn.shopify.com/s/files/1/2059/8303/t/23/assets/eb0401ed984e--WomenSection-HeaderLanding-FA21.jpg?v=1629215809");
}

.header-title h1 {
    font-family: Anton, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 8vw;
}

.img-body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#detail-body {
    background-image: url(../images/skate.jpg);
}

#form-body {
    background-image: url(../images/formSkate.jpg);
}

.container-detail, .shopping-cart, .formContainer {
    width: 65%;
    max-height: max-content;
    margin: 80px auto;
    background: #FFFFFF;
    box-shadow: 0 0 10px #000;
    border-radius: 6px;
}